{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}
<script>
  element.addEventListener('mouseenter', openMenu);
element.addEventListener('mouseleave', closeMenu);
</script>
<style>
  .site-header__logo img {
  	 display: block;
  }
   .site-nav {
  	 padding: 0;
  	 text-align: center;
  	 margin: 0;
  }
   .site-nav a {
  	 padding: 0 20px;
  }
   .site-nav--has-dropdown .mega-menu__content {
  	 box-sizing: border-box;
  	 height: max-content;
  	 left: -9999px;
  	 opacity: 0;
  	 padding: 0;
  	 position: absolute;
  	 transition: opacity 0.2s ease-in-out;
  	 width: 100vw;
  }
   .site-nav--has-dropdown:hover .mega-menu__content {
     background: white;
     border-bottom: 1px solid rgb(var(--color-foreground));
  	 left: 0;
  	 opacity: 1;
     top: 69px;
  	 transition: opacity 250ms ease-in-out;
  	 transition-delay: 0.05s;
     transform: translateY(0);
  }
   .site-nav--has-dropdown:hover .mega-menu__content .site-nav__dropdown {
  	 padding: 1rem;
  	 text-align: left;
  }
   .site-nav--has-dropdown:hover .mega-menu__content .site-nav__dropdown .grid {
  	 margin: 0 auto;
  	 max-width: 1003px;
  }
   .site-nav--has-dropdown:hover > a span:before {
  	 -webkit-transform: scaleX(1);
  	 -ms-transform: scaleX(1);
  	 transform: scaleX(1);
  }
   .site-nav--has-dropdown.is-active .holder {
  	 left: 0;
  	 opacity: 1;
  	 transition: opacity 250ms ease-in-out;
  	 transition-delay: 0.05s;
  }
  @media screen and (min-width: 990px) {
    .header:not(.drawer-menu).page-width {
        padding-bottom: 0;
        padding-top: 0;
    }
    .site-nav > li {
        align-items: center;
        /* display: flex; */
        height: 69px;
        display: contents;
    }
  }
  /*================ Site Nav Links ================*/
   .site-nav__link {
  	 display: block;
  	 white-space: nowrap;
  }
   .site-nav--centered .site-nav__link {
  	 padding-top: 0;
  }
   .site-nav__link .icon-chevron-down {
  	 display: none;
  	 width: calc(8em / 16);
  	 height: calc(8em / 16);
  	 margin-left: 0.5rem;
  }
   .site-nav__link.site-nav--active-dropdown {
  	 border-bottom: 1px solid transparent;
  	 z-index: 2;
  }
   nav.site-nav .list-menu--inline a {
  	 color: rgb(var(--color-foreground));
  	 font-family: var(--font-body-family);
  	 text-decoration: none;
  	 font-size: 16px;
  	 line-height: 28px;
  }
   .site-nav__link--button {
  	 border: none;
  	 background-color: transparent;
  }
   .site-nav__link--button:focus, .site-nav__link--button:hover {
  	 text-decoration: none;
  }
  ul.site-nav__childlist-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  .site-nav__dropdown ul.site-nav__childlist-grid {
      margin: 0 auto;
      max-width: var(--page-width);
  }
  ul.site-nav__childlist-grid li.site-nav__childlist-item {
      display: block;
      -webkit-flex: 0 1 auto;
      -moz-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin-bottom: 15px;
      padding-left: 30px;
      width: 33%;
  }
  li {
    list-style: none;
  }
  .site-nav__dropdown ul li a {
      font-size: 14px;
      text-transform: uppercase;
  }
  ul.site-nav__childlist-grid li.site-nav__childlist-item {
      list-style-image: unset;
      text-align: left;
  }
  ul.site-nav__childlist-grid li.site-nav__childlist-item ul {
      padding: 0;
  }
  .site-nav__childlist-item .site-nav__child-link {
      padding: 4px 15px 5px 0;
  }
  .site-nav__child-link--parent {
      font-weight: 700;
      margin: 4px 0;
      pointer-events: none;
  }
</style>

<nav class="header__inline-menu site-nav">
  <ul class="site-nav list--inline {{ nav_alignment }} list-menu list-menu--inline" role="list" id="SiteNav">
    {%- for link in section.settings.menu.links -%}
      <li class="site-nav--has-dropdown{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
